<mat-card>
  <mat-card-content>
    <ng-template [ngIf]="type === 'Error'">
      <div class="loading-error">
        <div class="error-message">
          There is an error while loading configuration.<br>
          We could not find the configuration you were looking for.
        </div>
        <div>
          <button mat-raised-button color="primary"
                  (click)="navigateToNew()">
            New Configuration
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="type !== 'Error'">
      <form [formGroup]="configForm" class="paper-selector"
            (ngSubmit)="save()">
        <h4>Setup Your Paper Configuration</h4>
        <div id="save-message" class="save-message" *ngIf="saveMessage">
          <div class="success" *ngIf="saveMessage.type === 'SUCCESS'">
            {{saveMessage.message}}
          </div>
        </div>
        <div class="selector name">
          <mat-label class="center-fix">Name</mat-label>
          <div class="selector-input">
            <div class="validation-input">
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="name"/>
              </mat-form-field>
              <div *ngIf="configForm.invalid && submitted" class="error-message  center-fix">
                <div *ngIf="configForm.controls.name.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="configForm.controls.name.errors?.['minlength']">
                  Name must be at least 3 characters long.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="selector time">
          <mat-label> Select Time Per Question:</mat-label>

          <mat-button-toggle-group formControlName="timePerQuestion">
            <mat-button-toggle [value]="5">5 sec</mat-button-toggle>
            <mat-button-toggle [value]="10">10 sec</mat-button-toggle>
            <mat-button-toggle [value]="15">15 sec</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="selector type">
          <mat-label> Select Question Type:</mat-label>
          <div class="validation-input">
            <mat-button-toggle-group multiple="true" formControlName="operators"
                                     [ngClass]="{'invalid':
            configForm.invalid && submitted && configForm.controls.operators.errors?.['operators']
            }"
            >
              <mat-button-toggle value="ADD">+</mat-button-toggle>
              <mat-button-toggle value="SUBTRACT">-</mat-button-toggle>
              <mat-button-toggle value="MULTIPLY">×</mat-button-toggle>
              <mat-button-toggle value="DIVIDE">÷</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="configForm.invalid && submitted"
                 class="error-message">
              <div *ngIf="configForm.controls.operators.errors?.['operators']">
                Atleast one operator must be selected.
              </div>
            </div>
          </div>
        </div>
        <div class="selector" *ngIf="config.operators.indexOf('ADD') > -1">

          <mat-label class="center-fix">Addition</mat-label>
          <div class="selector-input" formGroupName="addition">
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Min</mat-label>
              <input matInput type="number" formControlName="min"/>
            </mat-form-field>
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Max</mat-label>
              <input matInput type="number" formControlName="max"/>
            </mat-form-field>
          </div>
        </div>
        <div class="selector" *ngIf="config.operators.indexOf('SUBTRACT') > -1">
          <mat-label class="center-fix">Subtraction</mat-label>
          <div class="selector-input" formGroupName="subtraction">
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Min</mat-label>
              <input matInput type="number" formControlName="min"/>
            </mat-form-field>
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Max</mat-label>
              <input matInput type="number" formControlName="max"/>
            </mat-form-field>
          </div>
        </div>
        <div class="selector" *ngIf="config.operators.indexOf('MULTIPLY') > -1">
          <mat-label class="center-fix">Multiplication</mat-label>
          <div class="selector-input" formGroupName="multiplication">
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Min</mat-label>
              <input matInput type="number" formControlName="min"/>
            </mat-form-field>
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Max</mat-label>
              <input matInput type="number" formControlName="max"/>
            </mat-form-field>
          </div>
        </div>
        <div class="selector" *ngIf="config.operators.indexOf('DIVIDE') > -1">
          <mat-label class="center-fix">Division</mat-label>
          <div class="selector-input" formGroupName="division">
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Min</mat-label>
              <input matInput type="number" formControlName="min"/>
            </mat-form-field>
            <mat-form-field class="numeric" appearance="outline">
              <mat-label>Max</mat-label>
              <input matInput type="number" formControlName="max"/>
            </mat-form-field>
          </div>
        </div>
        <div class="actions-row">
          <button type="submit" mat-raised-button color="primary">Save</button>
          <button mat-raised-button color="accent"
                  [disabled]="configForm.invalid" (click)="onNewPaper()">
            New Paper
          </button>
        </div>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>
