table {
  width: 100%;
}

.mat-mdc-header-cell.mat-column-actions, td.mat-column-actions {
  padding: 0;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.actions-header {
  display: flex;
  justify-content: flex-end;
}
