table {
  width: 100%;
}

.mat-mdc-header-cell.mat-column-actions, td.mat-column-actions {
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-grow: 1;
  & .name {
    flex-grow: 1;
  }
  & .description {
    font-size: 0.8rem;
    color: #999;
    font-style: italic;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.actions-header {
  display: flex;
  justify-content: flex-end;
}
