.not-found-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.not-found-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  overflow: visible;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}
