mat-card {
  max-width: 640px;
  margin: auto;
}

.error-message {
  color: #f44336;
  font-size: 0.8rem;
}

.loading-error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  & .error-message {
    text-align: left;
    font-size: 1.1rem;
  }
}
