<div class="paper">
  <ng-template [ngIf]="hasError">
    <div class="loading-error">
      <div class="error-message">
        There is an error while loading configuration.<br>
        We could not find the configuration you were looking for.
      </div>
      <div>
        <button mat-raised-button color="primary"
                (click)="onNewConfig()">
          Create New Paper
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="!hasError">
    <form class="questions-container">
      <app-timer
        [maxInSeconds]="paper.totalTime"
        [stopOnZero]="true" #timer
        (onFinish)="timerComplete()"
      ></app-timer>
      <div class="questions">
        <div class="question-container" *ngFor="let question of paper.questions">
          <div class="question">
            <div class="question-row">
              <label [for]="question.id" class="first operand token">{{question.firstNumber}}</label>
              <label [for]="question.id" class="operator token"> {{getOperatorSymbol(question.operator)}} </label>
              <label [for]="question.id" class="second operand token">{{question.secondNumber}}</label>
              <label [for]="question.id" class="operator token"> = </label>
            </div>
            <div class="answer-row">
              <input type="number" class="answer input"
                     [disabled]="paper.completed"
                     [(ngModel)]="question.answer"
                     [id]="question.id"
                     [name]="question.id"
              />
            </div>

            <div class="check-row correct" *ngIf="question.answered && question.isCorrect">
              <mat-icon fontIcon="check"></mat-icon>
            </div>

            <div class="check-row incorrect" *ngIf="question.answered && !question.isCorrect">
              <mat-icon fontIcon="close"></mat-icon>
            </div>
          </div>

          <div class="correct-answer" *ngIf="question.answered && !question.isCorrect">
            correct answer is {{question.solution}}
          </div>

        </div>
      </div>

      <div class="actions-row">
        <button *ngIf="paper.started && !paper.completed"
                mat-raised-button
                color="primary"
                type="submit"
                (click)="onCheckAnswers()"
        >Go
        </button>
        <button *ngIf="paper.completed"
                mat-raised-button
                color="primary"
                type="submit"
                (click)="onNewPaper()"
        >New Paper
        </button>
      </div>
    </form>
  </ng-template>
</div>


