.error-message {
  color: #f44336;
  font-size: 0.8rem;
}

.loading-error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  & .error-message {
    text-align: left;
    font-size: 1.1rem;
  }
}

.paper-container {
  margin: 0 auto;
  max-width: 640px;
}


.paper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & form {
    width: 100%;
  }
}


.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.correct-answer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #b61f1f;
}

.question-row, .answer-row, .actions-row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 5px;
}

.token {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 36px;
}

.answer-row input {
  width: 50px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  &[disabled] {
    background: #aaaaaa20;
  }
}

.check-row.incorrect {
  color: #b61f1f;
}

.check-row.correct {
  color: #36b61f;
}
