<ng-template [ngIf]="hasError">
  <div class="loading-error">
    <div class="error-message">
      There is an error while loading configuration.<br>
      We could not find the configuration you were looking for.
    </div>
    <div>
      <button mat-raised-button color="primary"
              (click)="onCreateNew()">
        Create New Paper
      </button>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!hasError">
  <div class="start-container">
    <div class="start-message">
      You would be answering <b>{{paperConfig.name}}</b> paper.<br/>
      It has <b>{{paperConfig.totalQuestions}}</b> questions with totalTime of
      <b>{{ this.paperConfig.totalQuestions * this.paperConfig.timePerQuestion}} sec.</b><br/><br/>
      Press the start button below to begin.
    </div>
    <button mat-raised-button color="primary" (click)="start()">Start</button>
  </div>
</ng-template>
