<ng-template [ngIf]="hasError">
  <div class="loading-error">
    <div class="error-message">
      There is an error while loading configuration.<br>
      We could not find the configuration you were looking for.
    </div>
    <div>
      <button mat-raised-button color="primary"
              (click)="onCreateNew()">
        Create New Paper
      </button>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!hasError">
  <div class="start-container">
    <div class="start-message">
      You will be solving <span class="app-token">{{paperConfig.name}}</span> paper
      of <span class="app-token">{{paperConfig.difficulty}} </span> difficulty.
      It has <span class="app-token">{{paperConfig.totalQuestions}} Questions</span>
      with total time of
      <span class="app-token">
        {{ totalTime | appTime}}.
      </span>
      <br/><br/>
    </div>
    <button mat-raised-button color="primary" (click)="start()">Start</button>
  </div>
</ng-template>
