<header>
  <mat-toolbar color="primary">
    <ng-template [ngIf]="loggedInUser">
      <button class="menu" mat-icon-button (click)="onMenuClicked()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>

    <a class="logo-link" routerLink="/">
      <img class="logo-image" src="../../../../assets/logo/fast-maths-light.png" alt="Fast Math Logo Image"/>
      {{title}}
    </a>
    <span class="header-spacer"></span>

    <ng-template [ngIf]="loggedInUser">
      <div class="nav-menu">
        <a class="nav-menu-item"
           *ngFor="let link of routerLinks"
           [routerLink]="link.command"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          {{link.text}}
        </a>
      </div>
    </ng-template>

    <span class="header-spacer"></span>

    <ng-template [ngIf]="loggedInUser">
      <button class="menu-button" type="button" pButton icon="pi pi-user" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
    </ng-template>

  </mat-toolbar>

</header>
