<header>
  <h1> Do It Fast!</h1>
</header>
<mat-card class="app-main">
  <mat-card-content>
    <main>
      <div class="start-container" [ngClass]="{'hidden':started}">
        <h3>Click the Start button below to begin your questionnaire</h3>
        <button mat-raised-button color="primary" (click)="start()">Start</button>
      </div>
      <form
        class="questions-container"
        [ngClass]="{'hidden':!started}"
      >
        <h3 class="heading">Solve the following questions</h3>
        <app-timer
          [maxInSeconds]="10"
          [stopOnZero]="true" #timer
          (onFinish)="timerComplete()"
        ></app-timer>
        <div class="question-container">
          <div class="question-row">
            <label for="answer1" class="first operand token">5</label>
            <label for="answer1" class="operator token"> + </label>
            <label for="answer1" class="second operand token">5</label>
            <label for="answer1" class="operator token"> = </label>
          </div>
          <div class="answer-row">
            <input [disabled]="completed" id="answer1" type="number" class="answer input"/>
          </div>
          <div class="check-row incorrect hidden">
            <mat-icon fontIcon="close"></mat-icon>
          </div>
        </div>
        <div class="question-container">
          <div class="question-row">
            <label for="answer2" class="first operand token">15</label>
            <label for="answer2" class="operator token"> x </label>
            <label for="answer2" class="second operand token">3</label>
            <label for="answer2" class="operator token"> = </label>
          </div>
          <div class="answer-row">
            <input [disabled]="completed" id="answer2" type="number" class="answer input"/>
          </div>
          <div class="check-row correct hidden">
            <mat-icon fontIcon="check"></mat-icon>
          </div>
        </div>
        <div class="actions-row">
          <button [disabled]="completed"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="checkAnswers()"
          >Go</button>
        </div>
      </form>
    </main>
  </mat-card-content>
</mat-card>

