
header {
  display: flex;
  justify-content: center;
  align-items: center;
}


.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

mat-card {
  max-width: 640px;
  margin: auto;
}

