<div class="paper-selector">
  <h4>Setup Your Paper Configuration</h4>
  <div class="selector time">
    <mat-label> Select Time Per Question:</mat-label>

    <mat-button-toggle-group [(ngModel)]="config.timePerQuestion" (change)="onConfigChange()">
      <mat-button-toggle [value]="5">5 sec</mat-button-toggle>
      <mat-button-toggle [value]="10">10 sec</mat-button-toggle>
      <mat-button-toggle [value]="15">15 sec</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="selector type">
    <mat-label> Select Question Type:</mat-label>

    <mat-button-toggle-group multiple="true" [(value)]="config.operators" (change)="onConfigChange()">
      <mat-button-toggle value="ADD">+</mat-button-toggle>
      <mat-button-toggle value="SUBTRACT">-</mat-button-toggle>
      <mat-button-toggle value="MULTIPLY">×</mat-button-toggle>
      <mat-button-toggle value="DIVIDE">÷</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="selector" *ngIf="config.operators.indexOf('ADD') > -1">

    <mat-label class="center-fix">Addition</mat-label>
    <div class="selector-input">
      <mat-form-field appearance="outline">
        <mat-label>Min</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.addition.min" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.addition.max" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
    </div>
  </div>
  <div class="selector" *ngIf="config.operators.indexOf('SUBTRACT') > -1">
    <mat-label class="center-fix">Subtraction</mat-label>
    <div class="selector-input">
      <mat-form-field appearance="outline">
        <mat-label>Min</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.subtraction.min" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.subtraction.max" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
    </div>
  </div>
  <div class="selector" *ngIf="config.operators.indexOf('MULTIPLY') > -1">
    <mat-label class="center-fix">Multiplication</mat-label>
    <div class="selector-input">
      <mat-form-field appearance="outline">
        <mat-label>Min</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.multiplication.min" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.multiplication.max" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
    </div>
  </div>
  <div class="selector" *ngIf="config.operators.indexOf('DIVIDE') > -1">
    <mat-label class="center-fix">Division</mat-label>
    <div class="selector-input">
      <mat-form-field appearance="outline">
        <mat-label>Min</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.division.min" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max</mat-label>
        <input matInput type="number"
               [(ngModel)]="config.division.max" (ngModelChange)="onConfigChange()"/>
      </mat-form-field>
    </div>
  </div>
</div>
