/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background: #eeeeee;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none !important;
}

.app-token {
  display: inline-block;
  padding: 2px 10px;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  margin: 5px;
}

/***
Below style code removes the "arrows/spinner"
that appears in the input[type=number] control.
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
