<div class="papers">
  <!--  Page Heading  -->
  <div class="heading">
    <div class="message">Your Tests</div>
    <div class="actions">
      <a [routerLink]="['config']" mat-stroked-button color="accent">Take A Test</a>
    </div>
  </div>

  <!--  List of All Papers -->
  <mat-accordion>
    <mat-expansion-panel class="panel mat-elevation-z" *ngFor="let paper of papers" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="panel-title">
              <div class="name">
                {{paper.name}}
              </div>
              <div class="description">
                {{getDate(paper.createdOn) }}
              </div>
          </div>
          <div class="actions">
              <a mat-button  [routerLink]="[paper.id, 'solve']"
                [color]="paper.completed ? 'primary' : 'accent'">
                {{paper.completed ? 'View' : 'Solve'}}
              </a>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <app-paper-result [paper]="paper"></app-paper-result>
        <div class="panel-actions">
          <button mat-stroked-button color="warn"
            (click)="confirmDelete(paper)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
